In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("coviddata.csv")

In [ ]:
df.columns

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered'],
      dtype='object')

In [ ]:
df.head(10)

                 Province/State  Country/Region  ... Deaths  Recovered
0                         Hubei  Mainland China  ...   2029      10337
1                     Guangdong  Mainland China  ...      5        606
2                         Henan  Mainland China  ...     19        573
3                      Zhejiang  Mainland China  ...      0        604
4                         Hunan  Mainland China  ...      4        561
5                         Anhui  Mainland China  ...      6        413
6                       Jiangxi  Mainland China  ...      1        362
7                       Jiangsu  Mainland China  ...      0        318
8  Diamond Princess cruise ship          Others  ...      0          1
9                     Chongqing  Mainland China  ...      5        274

[10 rows x 6 columns]

In [ ]:
df.tail(10)

     Province/State Country/Region  ... Deaths  Recovered
67              NaN      Sri Lanka  ...      0          1
68              NaN         Sweden  ...      0          0
69       Boston, MA             US  ...      0          0
70  Los Angeles, CA             US  ...      0          0
71      Madison, WI             US  ...      0          0
72       Orange, CA             US  ...      0          0
73  San Antonio, TX             US  ...      0          0
74      Seattle, WA             US  ...      0          1
75        Tempe, AZ             US  ...      0          0
76          Unknown          China  ...      0          0

[10 rows x 6 columns]

In [ ]:
df.shape

(77, 6)

In [ ]:
df.tail(10).isnull()

    Province/State  Country/Region  Last Update  Confirmed  Deaths  Recovered
67            True           False        False      False   False      False
68            True           False        False      False   False      False
69           False           False        False      False   False      False
70           False           False        False      False   False      False
71           False           False        False      False   False      False
72           False           False        False      False   False      False
73           False           False        False      False   False      False
74           False           False        False      False   False      False
75           False           False        False      False   False      False
76           False           False        False      False   False      False

In [ ]:
df.isnull().sum()

Province/State    23
Country/Region     0
Last Update        0
Confirmed          0
Deaths             0
Recovered          0
dtype: int64

In [ ]:
df.dtypes

Province/State    object
Country/Region    object
Last Update       object
Confirmed          int64
Deaths             int64
Recovered          int64
dtype: object

In [ ]:
df['Province/State'].unique()

array(['Hubei', 'Guangdong', 'Henan', 'Zhejiang', 'Hunan', 'Anhui',
       'Jiangxi', 'Jiangsu', 'Diamond Princess cruise ship', 'Chongqing',
       'Shandong', 'Sichuan', 'Heilongjiang', 'Beijing', 'Shanghai',
       'Hebei', 'Fujian', 'Guangxi', 'Shaanxi', 'Yunnan', 'Hainan',
       'Guizhou', 'Shanxi', 'Tianjin', 'Liaoning', 'Gansu', 'Jilin', nan,
       'Xinjiang', 'Inner Mongolia', 'Ningxia', 'Hong Kong', 'Taiwan',
       'Qinghai', 'Macau', 'Queensland', 'British Columbia',
       'New South Wales', 'Victoria', 'South Australia', 'Toronto, ON',
       'Chicago, IL', 'San Benito, CA', 'San Diego County, CA',
       'Santa Clara, CA', 'London, ON', 'Tibet', 'Boston, MA',
       'Los Angeles, CA', 'Madison, WI', 'Orange, CA', 'San Antonio, TX',
       'Seattle, WA', 'Tempe, AZ', 'Unknown'], dtype=object)

In [ ]:
df['Province/State'].unique().shape

(55,)

In [ ]:
df['Province/State'].value_counts()

Seattle, WA                     1
Santa Clara, CA                 1
Jiangsu                         1
Beijing                         1
New South Wales                 1
Anhui                           1
Hubei                           1
Heilongjiang                    1
Tempe, AZ                       1
Hebei                           1
British Columbia                1
Taiwan                          1
Guangdong                       1
Xinjiang                        1
Boston, MA                      1
Macau                           1
London, ON                      1
Guizhou                         1
Fujian                          1
Hainan                          1
Jilin                           1
Chicago, IL                     1
Chongqing                       1
Shanxi                          1
Henan                           1
Tibet                           1
San Antonio, TX                 1
Victoria                        1
Unknown                         1
Los Angeles, CA                 1
Jiangxi                         1
San Diego County, CA            1
Zhejiang                        1
Liaoning                        1
Orange, CA                      1
Ningxia                         1
Inner Mongolia                  1
Shaanxi                         1
Madison, WI                     1
Toronto, ON                     1
Diamond Princess cruise ship    1
Hong Kong                       1
Hunan                           1
South Australia                 1
Gansu                           1
Queensland                      1
Shanghai                        1
San Benito, CA                  1
Yunnan                          1
Tianjin                         1
Shandong                        1
Guangxi                         1
Sichuan                         1
Qinghai                         1
Name: Province/State, dtype: int64

In [ ]:
df['Country/Region'].value_counts()

Mainland China          31
US                      11
Australia                4
Canada                   3
United Arab Emirates     1
Hong Kong                1
Macau                    1
Japan                    1
UK                       1
Thailand                 1
China                    1
Cambodia                 1
Italy                    1
Others                   1
Sweden                   1
Philippines              1
Spain                    1
Taiwan                   1
Belgium                  1
South Korea              1
Finland                  1
India                    1
Germany                  1
Malaysia                 1
Nepal                    1
Singapore                1
Russia                   1
Vietnam                  1
Egypt                    1
Iran                     1
Sri Lanka                1
France                   1
Name: Country/Region, dtype: int64

In [ ]:
df.dropna()

(54, 6)

In [ ]:
df = df.drop(['Province/State'],axis=1)

In [ ]:
df.head(10)

   Country/Region          Last Update  Confirmed  Deaths  Recovered
0  Mainland China  2020-02-19T23:23:02      62031    2029      10337
1  Mainland China  2020-02-19T10:23:02       1331       5        606
2  Mainland China  2020-02-19T12:13:08       1262      19        573
3  Mainland China  2020-02-19T11:33:02       1174       0        604
4  Mainland China  2020-02-19T11:33:02       1008       4        561
5  Mainland China  2020-02-19T14:13:03        986       6        413
6  Mainland China  2020-02-19T01:23:07        934       1        362
7  Mainland China  2020-02-19T12:13:08        631       0        318
8          Others  2020-02-19T20:33:02        621       0          1
9  Mainland China  2020-02-19T23:23:02        560       5        274

In [ ]:
df.corr()

           Confirmed   Deaths  Recovered
Confirmed   1.000000  0.99924   0.996568
Deaths      0.999240  1.00000   0.992930
Recovered   0.996568  0.99293   1.000000